title: 'Stats for AAA'
type: 'object'
properties:
  data:
    type: 'object'
    required: ['authSuccessCount', 'authFailureCount']
    properties:
      authSuccessCount:
        type: 'integer'
      authSuccessRate:
        type: 'number'
        description: 'Rate (/s) counter for successful auth'
      authFailureCount:
        type: 'integer'
      authFailureRate:
        type: 'number'
        description: 'Rate (/s) counter for failed auth'
