title: "Netscaler Info"
type:  "object"
properties:
  options:
    type: 'object'
    required: [
      "username"
      "password"
      "hostAddress"
    ]
    properties:
      username:
        type: "string"
        minLength: 1
      password:
        type: "string"
        minLength: 1
      hostAddress:
        type: "string"
        minLength: 1
