{
  message:
    CreateServer:
      angular: [
        { key: 'data.name' }
        { key: 'data.ipAddress' }
      ]
    GetCountOfServers:
      angular:
        []
    GetServers:
      angular:
        []
}
