[
  {
    key: "metadata.jobType"
    type: "select"
    titleMap: [{
      value: "GetCountOfLoadBalancingVirtualServers"
      name:  "Get Count of Load Balancing Virtual Servers"
    }, {
      value: "Add Load Balancing Virtual Server"
      name:  "AddLoadBalancingVirtualServer"
    }]
  }
]
